<div class="formulario">
    <form action="/Endereco/AdicionarEndereco" method="post" class="navbar-search form">
        <label for="cep">CEP:</label>
        <input id="cep" name="endereco.CEP" value="@ViewBag.Endereco.CEP" class="form-control" />

        <label for="cidade">Cidade:</label>
        <input id="cidade" name="endereco.Cidade" value="@ViewBag.Endereco.Cidade" class="form-control" />

        <label for="bairro">Bairro:</label>
        <input id="bairro" name="endereco.Bairro" value="@ViewBag.Endereco.Bairro" class="form-control" />

        <label for="rua">Rua:</label>
        <input id="rua" name="endereco.Rua" value="@ViewBag.Endereco.Rua" class="form-control" />

        <label for="numero">Numero:</label>
        <input id="numero" name="endereco.Numero" value="@ViewBag.Endereco.Numero" class="form-control" />

        <div class="input-group">
            <div class="input-group-append">
                <button class="btn btn-primary botao" type="submit">
                    <i class="fas fa-search fa-sm">Cadastrar</i>
                </button>
            </div>
        </div>
    </form>
</div>