@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
@using ProjetoBenner.Models;

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Perfil</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="link-inicio" href="~/Home/IndexHomeCliente"><i class="icon_house_alt"></i> Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Perfil</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<section class="welcome-area">
    <div class="formulario">
        <form class="form">
            @if (Session["ClienteLogado"] != null)
            {
                var cliente = Session["ClienteLogado"] as Cliente;
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nome">Nome:</label>
                        <label class="form-control" for="nome">@cliente.Nome</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cpf">CPF:</label>
                        <label class="form-control" for="cpf">@cliente.CPF</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telefone">Telefone:</label>
                        <label class="form-control" for="telefone">@cliente.Telefone</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email:</label>
                        <label class="form-control" for="email">@cliente.Email</label>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="cep">CEP: </label>
                        <label class="form-control" for="cep">@cliente.CEP</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cidade">Cidade: </label>
                        <label class="form-control" for="cidade">@cliente.Cidade</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="bairro">Bairro: </label>
                        <label class="form-control" for="bairro">@cliente.Bairro</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rua">Rua: </label>
                        <label class="form-control" for="rua">@cliente.Rua</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="numero">Numero: </label>
                        <label class="form-control" for="numero">@cliente.Numero</label>
                    </div>
                </div>
            }
        </form>
    </div>
</section>
<!-- Welcome Area End -->

<script>
    var btn = document.querySelector('.btn4');
    btn.classList.add("active");
</script>