@using ProjetoBenner.Models;

<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->
<!-- Header Area Start -->
<header class="header-area">
    <!-- Top Header Area Start -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-5">
                    <div class="top-header-content">
                        <p>Bem vindo ao salão Virtual!</p>
                    </div>
                </div>
                <div class="col-7">
                    <div class="top-header-content text-right">
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> Mon-Sat: 8.00 to 17.00 <span class="mx-2"></span> | <span class="mx-2"></span> <i class="fa fa-phone" aria-hidden="true"></i> Call us: (+12)-345-6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Header Area End -->
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="akameNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html"><img src="~/Content/template-img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="active">@Html.ActionLink("Inicio", "IndexHomeCliente", "Home")</li>
                                <li><a href="./portfolio.html">Portfolio</a></li>
                                <li><a href="./service.html">Services</a></li>
                                <li><a href="./about.html">About Us</a></li>
                                <li>@Html.ActionLink("Galeria", "IndexGaleria", "Galeria")</li>
                                <li><a href="./contact.html">Contact</a></li>
                                <li>
                                    @((Session["ClienteLogado"] as Cliente).Nome)
                                    <ul class="dropdown">
                                        <li>@Html.ActionLink("Perfil", "PerfilCliente", "Usuario")</li>
                                        <li>@Html.ActionLink("Logout", "FazerLogout", "Login", new object { }, new { @class = "logout" })</li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<section class="welcome-area">
    <div class="formulario">
        <form class="form">
            @if (Session["ClienteLogado"] != null)
            {
                var cliente = Session["ClienteLogado"] as Cliente;
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nome">Nome:</label>
                        <label class="form-control" for="nome">@cliente.Nome</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cpf">CPF:</label>
                        <label class="form-control" for="cpf">@cliente.CPF</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telefone">Telefone:</label>
                        <label class="form-control" for="telefone">@cliente.Telefone</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email:</label>
                        <label class="form-control" for="email">@cliente.Email</label>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="cep">CEP: </label>
                        <label class="form-control" for="cep">@cliente.CEP</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cidade">Cidade: </label>
                        <label class="form-control" for="cidade">@cliente.Cidade</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="bairro">Bairro: </label>
                        <label class="form-control" for="bairro">@cliente.Bairro</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="rua">Rua: </label>
                        <label class="form-control" for="rua">@cliente.Rua</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="numero">Numero: </label>
                        <label class="form-control" for="numero">@cliente.Numero</label>
                    </div>
                </div>
            }
        </form>
    </div>
</section>
<!-- Welcome Area End -->
