<div class="formulario">
    <form action="/Produto/AdicionarProduto" method="post" class="navbar-search form">
        <label for="nome">Nome:</label>
        <input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome" class="form-control" />

        <label for="quantidade">Quantidade:</label>
        <input id="quantidade" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" />

        <label for="descricao">Descrição:</label>
        <input id="descricao" name="produto.Descricao" value="@ViewBag.Produto.Descricao" class="form-control" />

        <label for="preco">Preço:</label>
        <input id="preco" name="produto.Preco" value="@ViewBag.Produto.Preco" class="form-control" />

        <div class="input-group">
            <div class="input-group-append">
                <button class="btn btn-primary botao" type="submit">
                    <i class="fas fa-search fa-sm">Cadastrar</i>
                </button>
            </div>
        </div>
        <span>@Html.ActionLink("Voltar para Estoque", "IndexProduto", "Produto", new object { }, new { @style = "color: white;" })</span>


    </form>
</div>