@{
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}
@using ProjetoBenner.Models;

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Dashboard</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Lucro (Mensal)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Horários Hoje</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">10%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-success" role="progressbar" style="width:10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Horários Agendados</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Agenda</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-7 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Visão de lucros</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-5 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Agendamentos</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Serviço</th>
                                <th>Horario</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var agendamento in ViewBag.Agendamentos)
                            {
                                <tr>
                                    @if (agendamento.Cliente != null)
                                    {
                                        <td>@agendamento.Cliente.Nome</td>
                                    }
                                    else
                                    {
                                        <td>Sem Cliente</td>
                                    }

                                    @if (agendamento.Servico != null)
                                    {
                                        <td>@agendamento.Servico.Tipo</td>
                                    }
                                    else
                                    {
                                        <td>Sem serviço</td>
                                    }

                                    <td>@agendamento.Horario.ToShortTimeString()</td>
                                    <td>@agendamento.Data.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End of Main Content -->

<script src="~/Content/bootstrap-css/bootstrap-js/jquery.min.js"></script>
<script src="~/Content/bootstrap-css/bootstrap-js/bootstrap.bundle.min.js"></script>

<script src="~/Content/bootstrap-css/bootstrap-js/jquery.easing.min.js"></script>

<script src="~/Content/bootstrap-css/bootstrap-js/sb-admin-2.min.js"></script>

<script src="~/Content/bootstrap-css/bootstrap-js/Chart.min.js"></script>

<script src="~/Content/bootstrap-css/bootstrap-js/chart-area-demo.js"></script>
<script src="~/Content/bootstrap-css/bootstrap-js/chart-pie-demo.js"></script>
<script>
    var btn = document.querySelector('.btn1');
    btn.classList.add("active");
</script>