@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
@using ProjetoBenner.Models;
@model IEnumerable<ProjetoBenner.Models.HorarioAtendimento>

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Agendar Horario</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="link-inicio" href="~/Home/IndexHomeCliente"><i class="icon_house_alt"></i> Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Agenda</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Booking Area Start -->
<section class="booking-area-start section-padding-80-0">
    <div class="container">
        <div class="row align-items-center">
            <!-- Booking Table -->
            <div class="col-8 col-lg-10">
                <div id="agenda" class="booking-table-slider owl-carousel mb-100">

                    <!-- Single Booking Table -->

                    @for (var DiasSemanas = 0; DiasSemanas < 30; DiasSemanas += 3)
                    {
                        var dataHoje = DateTime.Now;
                        var dataColuna1 = DateTime.Today;
                        dataColuna1 = dataColuna1.AddDays(DiasSemanas);
                        var dataColuna2 = DateTime.Today;
                        dataColuna2 = dataColuna2.AddDays(DiasSemanas + 1);
                        var dataColuna3 = DateTime.Today;
                        dataColuna3 = dataColuna3.AddDays(DiasSemanas + 2);
                        string[] diasSemana = { "Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado" };
                        <div class="single-booking-table d-flex">
                            <!-- Single Date & Hours -->
                            <div id="ativar" class="single-date-hours">
                                <div class="booking-day">
                                    <h6>@(ViewBag.DiasDaSemana = (DiasDaSemana)((int)dataColuna1.DayOfWeek)) </h6>
                                    <h6 class="diaTeste@(DiasSemanas)">@(dataColuna1.ToShortDateString())</h6>
                                </div>
                                <div class="booking-hours d-flex flex-wrap">
                                    @foreach (var horario in Model)
                                    {
                                        var tempoTrabalho = (horario.HorarioFechamento.Hour - horario.HorarioAbertura.Hour) * 60;
                                        DateTime horarioAtendimento = horario.HorarioAbertura;

                                        for (var tempoEntreHorarios = 0; tempoEntreHorarios < tempoTrabalho; tempoEntreHorarios += 30)
                                        {
                                            var cont = 0;
                                            bool pinta = false;
                                            foreach (var hora in ViewBag.Agenda)
                                            {

                                                if (dataColuna1 == hora.Data && horarioAtendimento.TimeOfDay == hora.Horario.TimeOfDay)
                                                {
                                                    cont++;
                                                    if (cont == ViewBag.ContFun)
                                                    {
                                                        pinta = true;
                                                        break;
                                                    }
                                                }
                                            }
                                            if (pinta == true)
                                            {
                                                <span id="horaDia" class="pegaHora bg-danger active" data-target="#produtoModal" data-dia="@(dataColuna1.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + tempoEntreHorarios);

                                            }
                                            else
                                            {
                                                if (((int)dataColuna1.DayOfWeek) == 0)
                                                {
                                                    <span id="horaDia" class="pegaHora active" data-dia="@(dataColuna1.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                    horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + tempoEntreHorarios);
                                                }
                                                else
                                                {
                                                    if (dataColuna1 == dataHoje.Date && horarioAtendimento.TimeOfDay < dataHoje.TimeOfDay)
                                                    {
                                                        <span id="horaDia" class="pegaHora active" data-dia="@(dataColuna1.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                        horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + tempoEntreHorarios);
                                                    }
                                                    else
                                                    {
                                                        <span id="horaDia" class="pegaHora" data-toggle="modal" data-target="#produtoModal" data-dia="@(dataColuna1.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                        horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + tempoEntreHorarios);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="single-date-hours">
                                <div class="booking-day">
                                    <h6>@(ViewBag.DiasDaSemana = (DiasDaSemana)((int)dataColuna2.DayOfWeek)) </h6>
                                    <h6>@(dataColuna2.ToShortDateString())</h6>
                                </div>
                                <div class="booking-hours d-flex flex-wrap">
                                    @foreach (var horario in Model)
                                    {
                                        var tempoTrabalho = (horario.HorarioFechamento.Hour - horario.HorarioAbertura.Hour) * 60;
                                        DateTime horarioAtendimento = horario.HorarioAbertura;

                                        for (var tempoEntreHorarios = 0; tempoEntreHorarios < tempoTrabalho; tempoEntreHorarios += 30)
                                        {
                                            var cont = 0;
                                            bool pinta = false;
                                            foreach (var hora in ViewBag.Agenda)
                                            {

                                                if (dataColuna2 == hora.Data && horarioAtendimento.TimeOfDay == hora.Horario.TimeOfDay)
                                                {
                                                    cont++;
                                                    if (cont == ViewBag.ContFun)
                                                    {
                                                        pinta = true;
                                                        break;
                                                    }
                                                }
                                            }
                                            if (pinta)
                                            {
                                                <span id="horaDia" class="pegaHora bg-danger active" data-target="#produtoModal" data-dia="@(dataColuna2.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + tempoEntreHorarios);

                                            }
                                            else
                                            {
                                                if (((int)dataColuna2.DayOfWeek) == 0)
                                                {
                                                    <span id="horaDia" class="pegaHora active" data-dia="@(dataColuna2.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                    horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + tempoEntreHorarios);
                                                }
                                                else
                                                {
                                                    <span id="horaDia" class="pegaHora" data-toggle="modal" data-target="#produtoModal" data-dia="@(dataColuna2.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                    horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + tempoEntreHorarios);

                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>

                            <div class="single-date-hours">
                                <div class="booking-day">
                                    <h6>@(ViewBag.DiasDaSemana = (DiasDaSemana)((int)dataColuna3.DayOfWeek))</h6>
                                    <h6>@(dataColuna3.ToShortDateString())</h6>
                                </div>
                                <div class="booking-hours d-flex flex-wrap">
                                    @foreach (var horario in Model)
                                    {
                                        var tempoTrabalho = (horario.HorarioFechamento.Hour - horario.HorarioAbertura.Hour) * 60;
                                        DateTime horarioAtendimento = horario.HorarioAbertura;
                                        for (var tempoEntreHorarios = 0; tempoEntreHorarios < tempoTrabalho; tempoEntreHorarios += 30)
                                        {
                                            var cont = 0;
                                            bool pinta = false;
                                            foreach (var hora in ViewBag.Agenda)
                                            {

                                                if (dataColuna3 == hora.Data && horarioAtendimento.TimeOfDay == hora.Horario.TimeOfDay)
                                                {
                                                    cont++;
                                                    if (cont == ViewBag.ContFun)
                                                    {
                                                        pinta = true;
                                                        break;
                                                    }
                                                }
                                            }
                                            if (pinta)
                                            {
                                                <span id="horaDia" class="pegaHora bg-danger active" data-target="#produtoModal" data-dia="@(dataColuna3.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + tempoEntreHorarios);

                                            }
                                            else
                                            {
                                                if (((int)dataColuna3.DayOfWeek) == 0)
                                                {
                                                    <span id="horaDia" class="pegaHora active" data-dia="@(dataColuna3.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                    horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + tempoEntreHorarios);
                                                }
                                                else
                                                {
                                                    <span id="horaDia" class="pegaHora" data-toggle="modal" data-target="#produtoModal" data-dia="@(dataColuna3.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                    horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + tempoEntreHorarios);
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <table id="tabalaLegenda">
                <thead>
                    <tr>
                        <th id="thLegenda"></th>
                        <th><h4>Legenda</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-danger"></td>
                        <td>Sem Vagas</td>
                    </tr>
                    
                    <tr>
                        <td class="bg-success"></td>
                        <td>Sucesso ao Agendar</td>
                    </tr>
                    
                    <tr>
                        <td class="bg-warning"></td>
                        <td>Falha ao Agendar</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- Booking Area End -->
<!-- Modal -->
<div class="modal fade produtoModal" id="produtoModal" tabindex="-1" role="dialog" aria-labelledby="produtoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content produtoModal">
            <div class="modal-header produtoModal">
                <h5 class="modal-title" id="produtoModalLabel">Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body produtoModal">

                <label class="texto-label" for="HorarioAbertura">Horario:</label>
                <input id="horaSelecionada" type="time" class="form-control" required disabled />

                <label class="texto-label" for="HorarioFechamento">Data:</label>
                <input id="data" type="text" class="form-control" required disabled />

                <label class="texto-label" for="servico">Serviço:</label>
                <select id="servico" name="agenda.ServicoId" class="form-control">
                    @foreach (var servico in ViewBag.Servico)
                    {
                        <option value="@servico.Id" selected="@servico.Id">@servico.Tipo</option>
                    }
                </select>
                @if (Session["ClienteLogado"] != null)
                {
                    <label for="ClienteId">ClienteId:</label>
                    <label id="clienteId" type="number" class="form-control" required disabled> @((Session["ClienteLogado"] as Cliente).Id)</label>
                }
                <div class="input-group">
                    <div class="input-group-append" id="t">
                        <button class="btn btn-primary botao" type="button" onclick="AgendarHorario();" data-dismiss="modal">
                            Agendar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var btn = document.querySelector('.btn2');
                btn.classList.add("active");
    var DiasSemanas;
    var data = new Date().toLocaleDateString();
    for (DiasSemanas = 0; DiasSemanas < 30; DiasSemanas += 3) {
        var teste = $(".diaTeste" + DiasSemanas).text();
        console.log(teste);
        if (teste == data) {
            $("#ativar").addClass("active");
        }
    }


    var pegaValClick;
    $(".pegaHora").click(function () {
        var horaDia = $(this).text();
        $('#horaSelecionada').val(horaDia);

        var dataDia = $(this).data("dia");
        $('#data').val(dataDia);

        pegaValClick = $(this);
    });

    function AgendarHorario() {
        var horaSelecionada = $("#horaSelecionada").val();
        var data = $("#data").val();
        var servicoId = $('#servico').val();
        var clienteId = $("#clienteId").text();

        $.ajax({
            type: 'POST',
            dataType: 'json',
            cache: false,
            url: "@Url.Action("AgendarHorario", "Agenda")", // webmethod or web serivces URL
            data: {
                HoraSelecionada: horaSelecionada,
                Data: data,
                ServicoId: servicoId,
                ClienteId: clienteId
            },
            complete:
            function validar(jqXHR, resposta) {
                if (jqXHR.responseJSON == true) {
                    pegaValClick.addClass("bg-success");
                    pegaValClick.removeAttr("data-toggle");
                    alert("Sucesso ao agendar Horario");
                } else {
                    pegaValClick.addClass("bg-warning");
                    alert("Falha ao Agendar Horario");
                }
            },
        }
        )
    };
</script>