@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
@using ProjetoBenner.Models;
@model IEnumerable<ProjetoBenner.Models.HorarioAtendimento>

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Agendar Horario</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="link-inicio" href="~/Home/IndexHomeCliente"><i class="icon_house_alt"></i> Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Agenda</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Booking Area Start -->
<section class="booking-area-start section-padding-80-0">
    <div class="container">
        <div class="row align-items-center">
            @foreach (var horario in Model)
            {
                <!-- Booking Info -->
                <div class="col-12 col-lg-4">
                    <div class="booking-info mb-80">
                        <h2>Agendar</h2>
                        <p>Segunda - Sábado: @horario.HorarioAbertura.ToShortTimeString() AM - @horario.HorarioFechamento.ToShortTimeString() PM</p>
                    </div>
                </div>
            }

            <!-- Booking Table -->
            <div class="col-8 col-lg-12">
                <div id="agenda" class="booking-table-slider owl-carousel mb-100">

                    <!-- Single Booking Table -->
                    
                    @for (var j = 0; j < 7; j += 3)
                    {
                        DateTime data = DateTime.Today;
                        //data = data.AddDays(1);
                        var id = j;
                        string[] diasSemana = { "Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado" };
                        <div class="single-booking-table d-flex">
                            <!-- Single Date & Hours -->
                            <div class="single-date-hours active">
                                <div class="booking-day">
                                    <h5>@(diasSemana[((int)data.DayOfWeek)]) </h5>
                                    <h6 id="@id">@(data.AddDays(j).ToShortDateString())</h6>
                                </div>
                                <div class="booking-hours d-flex flex-wrap">
                                    @foreach (var horario in Model)
                                    {
                                        var tempoTrabalho = (horario.HorarioFechamento.Hour - horario.HorarioAbertura.Hour) * 60;
                                        DateTime horarioAtendimento = horario.HorarioAbertura;
                                        for (var i = 0; i < tempoTrabalho; i += 30)
                                        {
                                            //foreach (var horarioA in ViewBag.Agenda)
                                            //{
                                            //    if (horarioA.Horario != null)
                                            //    {
                                            <span id="horaDia" class="pegaHora" data-toggle="modal" data-target="#produtoModal" data-dia="@(data.AddDays(j).ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                            horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);
                                            @*}
                                                }*@
                                        }
                                    }
                                </div>
                            </div>

                            <div class="single-date-hours">
                                <div class="booking-day">
                                    <h5>@(diasSemana[((int)data.DayOfWeek)+1]) </h5>
                                    <h6 id="@id">@(data.AddDays(j + 1).ToShortDateString())</h6>
                                </div>
                                <div class="booking-hours d-flex flex-wrap">
                                    @foreach (var horario in Model)
                                    {
                                        var tempoTrabalho = (horario.HorarioFechamento.Hour - horario.HorarioAbertura.Hour) * 60;
                                        DateTime horarioAtendimento = horario.HorarioAbertura;
                                        for (var i = 0; i < tempoTrabalho; i += 30)
                                        {
                                            <span id="horaDia" class="pegaHora" data-toggle="modal" data-target="#produtoModal" data-dia="@(data.AddDays(j + 1).ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                            horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);
                                        }
                                    }
                                </div>
                            </div>

                            <div class="single-date-hours">
                                <div class="booking-day">
                                    <h5>@(diasSemana[((int)data.DayOfWeek)+2]) </h5>
                                    <h6>@(data.AddDays(j + 2).ToShortDateString())</h6>
                                </div>
                                <div class="booking-hours d-flex flex-wrap">
                                    @foreach (var horario in Model)
                                    {
                                        var tempoTrabalho = (horario.HorarioFechamento.Hour - horario.HorarioAbertura.Hour) * 60;
                                        DateTime horarioAtendimento = horario.HorarioAbertura;
                                        for (var i = 0; i < tempoTrabalho; i += 30)
                                        {
                                            <span id="horaDia" class="pegaHora" data-toggle="modal" data-target="#produtoModal" data-dia="@(data.AddDays(j + 2).ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                            horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
</section>
<!-- Booking Area End -->
<!-- Modal -->
<div class="modal fade produtoModal" id="produtoModal" tabindex="-1" role="dialog" aria-labelledby="produtoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content produtoModal">
            <div class="modal-header produtoModal">
                <h5 class="modal-title" id="produtoModalLabel">Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body produtoModal">

                <label for="HorarioAbertura">Horario:</label>
                <input id="horaSelecionada" type="time" class="form-control" required disabled />

                <label for="HorarioFechamento">Data:</label>
                <input id="data" type="text" class="form-control" required disabled />

                <label for="servico">Serviço:</label>
                <select id="servico" name="agenda.ServicoId" class="form-control">
                    @foreach (var servico in ViewBag.Servico)
                    {
                        <option value="@servico.Id" selected="@servico.Id.Equals(ViewBag.Agenda.ServicoId)">@servico.Tipo</option>
                    }
                </select>

                <label for="ClienteId">ClienteId:</label>
                <label id="clienteId" type="number" class="form-control" required disabled>@((Session["ClienteLogado"] as Cliente).Id)</label>

                <div class="input-group">
                    <div class="input-group-append" id="t">
                        <button class="btn btn-primary botao" type="button" onclick="AgendarHorario();" data-dismiss="modal">
                            <i class="fas fa-search fa-sm">Agendar</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var btn = document.querySelector('.btn2');
    btn.classList.add("active");
    var hora = new Date();
    var url = "@Url.Action("ListarHorarios", "HorarioAtendimento")";
    $.post(url, calculaTempo);

    function calculaTempo(data)
    {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(data[0].HorarioAbertura);
        var results1 = pattern.exec(data[0].HorarioFechamento);
        var horaAbertura = new Date(parseFloat(results[1]));
        var horaFechamento = new Date(parseFloat(results1[1]));
        var hora2 = horaAbertura;
        var data = new Date();
        for (var j = 0; j < 6; j += 3) {
            var diasSemana = [ "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado", "Domingo" ];

            var div = $("<div>").addClass("single-booking-table").addClass("d-flex");
            var div2 = $("<div>").addClass("single-date-hours").addClass("active");
            var div3 = $("<div>").addClass("booking-day");
            var div4 = $("<div>").addClass("booking-hours").addClass("d-flex").addClass("flex-wrap");
            var h5 = $("<h5>").text(diasSemana[j]);
            data.setDate(data.getDate() + j);
            var h6 = $("<h6>").text(data.toLocaleDateString());

            var div5 = $("<div>").addClass("single-date-hours").addClass("active");
            var div6 = $("<div>").addClass("booking-day");
            var div7 = $("<div>").addClass("booking-hours").addClass("d-flex").addClass("flex-wrap");
            var h52 = $("<h5>").text(diasSemana[j + 1]);
            data.setDate(data.getDate() + j + 1);
            var h62 = $("<h6>").text(data.toLocaleDateString());

            var div8 = $("<div>").addClass("single-date-hours").addClass("active");
            var div9 = $("<div>").addClass("booking-day");
            var div10 = $("<div>").addClass("booking-hours").addClass("d-flex").addClass("flex-wrap");
            var h5_3 = $("<h5>").text(diasSemana[j + 2]);
            data.setDate(data.getDate() + j + 2);
            var h6_3 = $("<h6>").text(data.toLocaleDateString());



            div.append(div2);
            div.append(div5);
            div.append(div8);
            div2.append(div3);
            div2.append(div4);
            div3.append(h5);
            div3.append(h6);

            div5.append(div6);
            div5.append(div7);
            div6.append(h52);
            div6.append(h62);


            div8.append(div9);
            div9.append(h5_3);
            div9.append(h6_3);
            div8.append(div10);

           horaAbertura.foreach()
            for (var i = 0; horaAbertura < horaFechamento; i++) {
                var span = $("<span>");
                span.text(horaAbertura.toLocaleTimeString())
                horaAbertura.setMinutes(horaAbertura.getMinutes() + 30);
                div4.append(span);
            }

            for (var i = 0; horaAbertura < horaFechamento; i++) {
                var span2 = $("<span>");
                span2.text(hora2.toLocaleTimeString())
                hora2.setMinutes(hora2.getMinutes() + 30);
                div7.append(span2);
            }



            $("#agenda").prepend(div);
            console.log(div);
        }


    }

    $(".pegaHora").click(function () {
        var horaDia = $(this).text();
        $('#horaSelecionada').val(horaDia);

        var dataDia = $(this).data("dia");
        $('#data').val(dataDia);

        $(this).addClass("active");
    });

    function AgendarHorario() {
        var horaSelecionada = $("#horaSelecionada").val();
        var data = $("#data").val();
        var servicoId = $('#servico').val();
        var clienteId = $("#clienteId").text();
        console.log(clienteId);

        $.ajax({
            type: 'POST',
            dataType: 'json',
            cache: false,
            url: "@Url.Action("AgendarHorario", "Agenda")", // webmethod or web serivces URL
            data: {
                HoraSelecionada: horaSelecionada,
                Data: data,
                ServicoId: servicoId,
                ClienteId: clienteId
            },
            complete:
            function validar(jqXHR, resposta) {
                 if (jqXHR.responseJSON == true) {
                     $('#testeC').addClass("active");
                     alert("Sucesso ao agendar horario");
                 } else {
                    alert("Erro ao Cadastrar");
                 }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error - ' + errorThrown);
            }
        });
    }
</script>