@{
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}
@using ProjetoBenner.Models;
@model IEnumerable<ProjetoBenner.Models.HorarioAtendimento>

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Agendar Horario</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="link-inicio" href="~/Home/IndexHome"><i class="icon_house_alt"></i> Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Agenda</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Booking Area Start -->
<section class="booking-area-start section-padding-80-0">
    <div class="container">
        <div class="row align-items-center">
            <!-- Booking Table -->
            <div class="col-8 col-lg-10">
                <div id="agenda" class="booking-table-slider owl-carousel mb-100">

                    <!-- Single Booking Table -->

                    @for (var j = 0; j < 30; j += 3)
                    {
                        var dataT = DateTime.Now;
                        var data = DateTime.Today;
                        data = data.AddDays(j);
                        var data2 = DateTime.Today;
                        data2 = data2.AddDays(j + 1);
                        var data3 = DateTime.Today;
                        data3 = data3.AddDays(j + 2);
                        string[] diasSemana = { "Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado" };
                        <div class="single-booking-table d-flex">
                            <!-- Single Date & Hours -->
                            <div id="ativar" class="single-date-hours">
                                <div class="booking-day">
                                    <h6>@(diasSemana[((int)data.DayOfWeek)]) </h6>
                                    <h6 class="diaTeste@(j)">@(data.ToShortDateString())</h6>
                                </div>
                                <div class="booking-hours d-flex flex-wrap">
                                    @foreach (var horario in Model)
                                    {
                                        var tempoTrabalho = (horario.HorarioFechamento.Hour - horario.HorarioAbertura.Hour) * 60;
                                        DateTime horarioAtendimento = horario.HorarioAbertura;

                                        for (var i = 0; i < tempoTrabalho; i += 30)
                                        {
                                            var cont = 0;
                                            bool pinta = false;
                                            foreach (var hora in ViewBag.Agenda)
                                            {

                                                if (data == hora.Data && horarioAtendimento.TimeOfDay == hora.Horario.TimeOfDay)
                                                {
                                                    cont++;
                                                    if (cont == ViewBag.ContFun)
                                                    {
                                                        pinta = true;
                                                        break;
                                                    }
                                                }
                                            }
                                            if (pinta == true)
                                            {
                                                <span id="horaDiaFuncionario" class="pegaHoraFuncionario bg-danger active" data-target="#produtoModal" data-dia="@(data.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);

                                            }
                                            else
                                            {
                                                if (((int)data.DayOfWeek) == 0)
                                                {
                                                    <span id="horaDiaFuncionario" class="pegaHoraFuncionario active" data-dia="@(data.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                    horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);
                                                }
                                                else
                                                {
                                                    if (data == dataT.Date && horarioAtendimento.TimeOfDay < dataT.TimeOfDay)
                                                    {
                                                        <span id="horaDiaFuncionario" class="pegaHoraFuncionario active" data-dia="@(data.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                        horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);
                                                    }
                                                    else
                                                    {
                                                        <span id="horaDiaFuncionario" class="pegaHoraFuncionario" data-toggle="modal" data-target="#produtoModal" data-dia="@(data.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                        horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="single-date-hours">
                                <div class="booking-day">
                                    <h6>@(diasSemana[((int)data2.DayOfWeek)]) </h6>
                                    <h6>@(data2.ToShortDateString())</h6>
                                </div>
                                <div class="booking-hours d-flex flex-wrap">
                                    @foreach (var horario in Model)
                                    {
                                        var tempoTrabalho = (horario.HorarioFechamento.Hour - horario.HorarioAbertura.Hour) * 60;
                                        DateTime horarioAtendimento = horario.HorarioAbertura;

                                        for (var i = 0; i < tempoTrabalho; i += 30)
                                        {
                                            var cont = 0;
                                            bool pinta = false;
                                            foreach (var hora in ViewBag.Agenda)
                                            {

                                                if (data2 == hora.Data && horarioAtendimento.TimeOfDay == hora.Horario.TimeOfDay)
                                                {
                                                    cont++;
                                                    if (cont == ViewBag.ContFun)
                                                    {
                                                        pinta = true;
                                                        break;
                                                    }
                                                }
                                            }
                                            if (pinta)
                                            {
                                                <span id="horaDiaFuncionario" class="pegaHoraFuncionario bg-danger active" data-target="#produtoModal" data-dia="@(data2.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);

                                            }
                                            else
                                            {
                                                if (((int)data2.DayOfWeek) == 0)
                                                {
                                                    <span id="horaDiaFuncionario" class="pegaHoraFuncionario active" data-dia="@(data2.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                    horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);
                                                }
                                                else
                                                {
                                                    <span id="horaDiaFuncionario" class="pegaHoraFuncionario" data-toggle="modal" data-target="#produtoModal" data-dia="@(data2.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                    horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);

                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>

                            <div class="single-date-hours">
                                <div class="booking-day">
                                    <h6>@(diasSemana[((int)data3.DayOfWeek)]) </h6>
                                    <h6>@(data3.ToShortDateString())</h6>
                                </div>
                                <div class="booking-hours d-flex flex-wrap">
                                    @foreach (var horario in Model)
                                    {
                                        var tempoTrabalho = (horario.HorarioFechamento.Hour - horario.HorarioAbertura.Hour) * 60;
                                        DateTime horarioAtendimento = horario.HorarioAbertura;
                                        for (var i = 0; i < tempoTrabalho; i += 30)
                                        {
                                            var cont = 0;
                                            bool pinta = false;
                                            foreach (var hora in ViewBag.Agenda)
                                            {

                                                if (data3 == hora.Data && horarioAtendimento.TimeOfDay == hora.Horario.TimeOfDay)
                                                {
                                                    cont++;
                                                    if (cont == ViewBag.ContFun)
                                                    {
                                                        pinta = true;
                                                        break;
                                                    }
                                                }
                                            }
                                            if (pinta)
                                            {
                                                <span id="horaDiaFuncionario" class="pegaHoraFuncionario bg-danger active" data-target="#produtoModal" data-dia="@(data3.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);

                                            }
                                            else
                                            {
                                                if (((int)data3.DayOfWeek) == 0)
                                                {
                                                    <span id="horaDiaFuncionario" class="pegaHoraFuncionario active" data-dia="@(data3.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                    horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);
                                                }
                                                else
                                                {
                                                    <span id="horaDiaFuncionario" class="pegaHoraFuncionario" data-toggle="modal" data-target="#produtoModal" data-dia="@(data3.ToShortDateString())">@(horarioAtendimento.ToShortTimeString())</span>
                                                    horarioAtendimento = horario.HorarioAbertura.AddMinutes(30 + i);
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Booking Area End -->
<!-- Modal -->
<div class="modal fade produtoModal" id="produtoModal" tabindex="-1" role="dialog" aria-labelledby="produtoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content produtoModal">
            <div class="modal-header produtoModal">
                <h5 class="modal-title" id="produtoModalLabel">Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body produtoModal">

                <label class="texto-label" for="HorarioAbertura">Horario:</label>
                <input id="horaSelecionadaFuncionario" type="time" class="form-control" required disabled />

                <label class="texto-label" for="HorarioFechamento">Data:</label>
                <input id="dataFuncionario" type="text" class="form-control" required disabled />

                <label class="texto-label" for="servico">Serviço:</label>
                <select id="servico" name="agenda.ServicoId" class="form-control">
                    @foreach (var servico in ViewBag.Servico)
                    {
                        <option value="@servico.Id" selected="@servico.Id">@servico.Tipo</option>
                    }
                </select>
                    <label for="ClienteId">ClienteId:</label>
                    <label id="clienteId" type="number" class="form-control" required disabled> @((Session["FuncionarioLogado"] as Funcionario).Id)</label>
                <div class="input-group">
                    <div class="input-group-append" id="t">
                        <button class="btn btn-primary botao" type="button" onclick="AgendarHorario();" data-dismiss="modal">
                            <i class="fas fa-search fa-sm">Agendar</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/Agenda.js"></script>

<script>
    var btn = document.querySelector('.btn2');
                btn.classList.add("active");
</script>