<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Css/reset.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/css/Estilo.css" rel="stylesheet">

</head>
<body>
    <div class="cab">

    </div>
    <div class="corp">
        <ul class="bg-gradient-primary sidebar menu">
            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Página Inicial", "IndexHome", "Home")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Cadastrar Serviço", "FormularioServico", "Servico")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Cadastrar Produto", "FormularioProduto", "Produto")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Estoque", "IndexProduto", "Produto")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Serviços", "IndexServico", "Servico")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Criar Conta", "FormularioUsuario", "Usuario")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Acessar Conta", "IndexLogin", "Login")</span>
                </a>
            </li>
        </ul>

        <div>
            @RenderBody()
        </div>
    </div>
    <footer class="rodape">
        &copy;
    </footer>
</body>
</html>
