<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Css/reset.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/css/Estilo.css" rel="stylesheet">

</head>
<body>
    <div class="cab">

    </div>
    <div class="corp">
        @*<ul class="menu">

                <li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>
                <li>@Html.ActionLink("Cadastrar Serviço", "Formulario", "Servico")</li>
                <li>@Html.ActionLink("Cadastrar Produto", "Formulario", "Produto")</li>
                <li>@Html.ActionLink("Estoque", "Index", "Produto")</li>
            </ul>*@

        <ul class="bg-gradient-primary sidebar menu">
            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Página Inicial", "Index", "Home")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Cadastrar Serviço", "Formulario", "Servico")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Cadastrar Produto", "Formulario", "Produto")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Estoque", "Index", "Produto")</span>
                </a>
            </li>
        </ul>

        <div>
            @RenderBody()
        </div>
    </div>
    <footer class="rodape">
        &copy;
    </footer>
</body>
</html>
