@using ProjetoBenner.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="~/Content/imagens/favicon.ico" />
    <title>Salão Virtual</title>
    <link rel="stylesheet" href="~/Content/css/reset.css" />

    <link href="~/Content/bootstrap-css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/Content/bootstrap-css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/bootstrap-css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/css/Estilo.css" />

    <script src="~/Content/js/jquery-3.4.1.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/Agenda.js"></script>
</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Top Header Area Start -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-5">
                        <div class="top-header-content">
                            <p>Bem vindo ao salão Virtual!</p>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="top-header-content text-right">
                            <p class="horarios"><i class="fa fa-clock-o" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header Area End -->
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="akameNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="~/Home/IndexHomeFuncionario"><img src="~/content/imagens/LogoNome.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li>
                                        @if (Session["FuncionarioLogado"] != null)
                                        {
                                            @Html.ActionLink((Session["FuncionarioLogado"] as Funcionario).Nome, "PerfilFuncionario", "Usuario")
                                            <ul class="dropdown">
                                                <li class="btn6">@Html.ActionLink("Perfil", "PerfilFuncionario", "Usuario")</li>
                                                <li>@Html.ActionLink("Logout", "FazerLogout", "Login")</li>

                                            </ul>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Login", "IndexLogin", "Login")
                                        }
                                    </li>
                                    <li class="btn1">@Html.ActionLink("Inicio", "IndexHomeFuncionario", "Home")</li>
                                    <li class="btn2">@Html.ActionLink("Agendar Horario", "IndexAgendaFuncionario", "Agenda")</li>
                                    <li class="btn2">@Html.ActionLink("Horario de Atendimento", "Index", "HorarioAtendimento")</li>
                                    <li class="btn3">@Html.ActionLink("Galeria", "GaleriaFuncionario", "Galeria")</li>
                                    <li class="btn4">@Html.ActionLink("Produtos", "IndexProduto", "Produto")</li>
                                    <li class="btn5">@Html.ActionLink("Serviços", "IndexServico", "Servico")</li>
                                    <li class="btn5">@Html.ActionLink("Dados do Salão", "IndexInformacoesSalao", "InformacoesSalao")</li>

                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    @RenderBody()

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->
    <!-- Border -->
    <div class="container">
        <div class="border-top"></div>
    </div>

    <!-- Footer Area Start -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Footer Logo -->
                        <a href="#" class="footer-logo"><img src="~/content/imagens/LogoNome.png" alt=""></a>

                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p>
                                &copy; Salão Virtual
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Horarios de Atendimento</h4>

                        <!-- Open Times -->
                        <div class="open-time">
                            <p class="horarios"></p>
                        </div>

                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-md-4 col-xl-3">
                    <div class="single-footer-widget mb-80">

                        <!-- Widget Title -->
                        <h4 class="widget-title">Contate-Nos</h4>

                        <!-- Contact Address -->
                        <div class="contact-address">
                            <p id="telefone"></p>
                            <p id="email"></p>
                            <p id="endereco"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <script src="~/Content/js/jquery-3.4.1.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/viaCEP.js"></script>
    <script src="~/Content/template-js/jquery.min.js"></script>
    <script src="~/Content/template-js/popper.min.js"></script>
    <script src="~/Content/template-js/bootstrap.min.js"></script>
    <script src="~/Content/template-js/akame.bundle.js"></script>
    <script src="~/Content/template-js/default-assets/active.js"></script>

    <script>
        var url = "@Url.Action("ListarDados", "InformacoesSalao")";
        $.post(url, { id : 1 }, preencheEndereco);
        function preencheEndereco(resposta) {

            $("#telefone").html("Telefone: "+resposta.Telefone);
            $("#email").html("Email: "+resposta.Email);
            $("#endereco").html("Endereço: " + resposta.Rua + ", " + resposta.Numero + ", " + resposta.Cidade);
        };

        var url = "@Url.Action("ListarHorarios", "HorarioAtendimento")";
        $.post(url, { id: 2 }, preencheHorarios);

        function preencheHorarios(resposta) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(resposta.HorarioAbertura);
            var results2 = pattern.exec(resposta.HorarioFechamento);
            var HorarioA = new Date(parseFloat(results[1]));
            var HorarioF = new Date(parseFloat(results2[1]));

            console.log(resposta);
            $(".horarios").html("Seg-Sab: " + HorarioA.toLocaleTimeString() + " as " + HorarioF.toLocaleTimeString());
        };
    </script>

</body>
</html>

