<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Css/reset.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/css/Estilo.css" rel="stylesheet">

</head>
<body id="page-top">
    <div class="cab">

    </div>
    <div class="corp">
        <ul class="navbar-nav menu">
            <li class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-text mx-3 text-white">Menu</div>
            </li>

            <li>@Html.ActionLink("Página Inicial", "Index", "Home")</li>
            <li>@Html.ActionLink("Cadastrar Serviço", "Formulario", "Servico")</li>
            <li>@Html.ActionLink("Cadastrar Produto", "Formulario", "Produto")</li>
            <li>@Html.ActionLink("Estoque", "Index", "Produto")</li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer class="rodape">
        &copy;
    </footer>
</body>
</html>
